<html>
    <body>
        <b><%=session.title %></b><br><br>
        <% /* %>
        <%=session.speaker.name %><br>
        Speaker Bio: <%=session.speaker.bio %><br>
        <% */ %>
        <%=session.description %><br>
    </body>
</html>